*{
    margin: 0px;
    padding: 0px;
}

/*---------------------------------------nav-----------------------------------------------------*/


.header {
    display: flex;
    width: 100%;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    background-color: rgb(31, 31, 44);
    color: aqua;
}

.logo{
    height: 100px;
    padding: 3px;
    background-color: rgb(31, 31, 44);
    border-radius: 50%;
}

.title{
    width: 50%;
    color: aqua;
    text-align: center;
    background-color: rgb(31, 31, 44);
}


.menu {
    display: flex;
    font-weight: bold;
}

.menu li {
    text-decoration: none;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 10px;
    color: black;
    border: 2px solid aqua;
    color: aqua;
}

.menu a{
    text-decoration: none;
    color: aqua;
}

.hamburger{
    display: none;
}

@media (max-width: 600px){
    .menu{
        display: none;
    }


    .hamburger {
        display: block;
    }

    .hamburger-hidden{
        display: none;
    }


    .hamburger-open {
        position: fixed; /*位置を固定 */
        top: 0;  /* 最上部 */
        right: 0rem;  /* 右端 */
        /* 中の要素を上下中央寄せ */
        display: flex;
        justify-content: center;
        align-items: center;
        /* サイズ指定 */
        height: 70px;
        width: 70px;
        margin-top: 20px;
        z-index: 100;
        cursor: pointer;
    }

    .hamburger-open span,         /* 真ん中の線 */
    .hamburger-open span:before,  /* 上の線 */
    .hamburger-open span:after {  /* 下の線 */
        content: "";
        display: block;
        height: 3px;
        width: 25px;
        border-radius: 3px;
        background-color: #e2e2e2;
        transition: .2s;
        /* 3本線の位置は絶対位置で指定 */
        position: absolute;
        }
    /* 上の線の位置 */
    .hamburger-open span:before {
        /* 真ん中の線と離す距離 */
        bottom: 8px;
    }
    /* 下の線の位置 */
    .hamburger-open span:after {
        /* 真ん中の線と離す距離 */
        top: 8px;
    }

    #hamburger-check:checked ~ .hamburger-open span { /*チェックされた状態にあるハンバーガーメニューに、兄弟タグであるスパンがどう動くのか*/
        background: rgba(255, 2555, 255, 0);
    }

    #hamburger-check:checked ~ .hamburger-open span::before {
        bottom: 0;
        transform: rotate(45deg); /*ななめにする*/
    }
    
    #hamburger-check:checked ~ .hamburger-open span::after {
        top: 0;
        transform: rotate(-45deg); /*ななめにする*/
    }

    /* メニューのデザイン*/
    .hamburger-content {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;/* 100%つかってる*/
        transition: .2s;
        background-color: rgba(50, 38, 92, 0.5);
    }
    .hamburger-link{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 6rem;
    }

    .hamburger-link li{
        margin-top: 0.5rem;
        list-style: none;
        padding-left: 0;
    }

    .hamburger-link a {
        display: block;
        font-size: 13px;
        width: 100px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        font-size: 1.5rem;
        color: white;
        text-decoration: none;
        
    }

    /* アイコンがクリックされたらメニューを表示 */
    #hamburger-check:checked ~ .hamburger-content {
        left: 0vh;/* メニューを画面に入れる */
    }

}

/*---------------------------------------indexhtml-----------------------------------------------------*/
.home{
    min-height: 500px;
    width:auto;
    padding: 30px;
}

.home-title{
    padding: 30px;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 3px solid rgb(118, 118, 118);
}

.home-text{
    margin-top: 10px;
    padding: 30px;
}

/*---------------------------------------footer-----------------------------------------------------*/

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-end;
    min-height: 150px; /*to specify the minimum height of an element. */
    border-top: 2px solid black;
    background-color: rgb(31, 31, 44);
}

.footermenu ul {
    margin-top: 30px;
    display: flex;
    list-style-type: none;
    width: 100%;
}

.footermenu li {
    margin-right: 10px;
    border: 2px solid aqua;
}

.footermenu a{
    text-decoration: none;
    color: aqua;
}


/*---------------------------------------page1-----------------------------------------------------*/

.page1-container{
    display: flex;
    justify-content: space-around;
    margin: 30px;
    height: 700px;
}

.menubox{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px;
    border: 2px solid black;
    text-align: center;
}

.menubox div{
    margin: 30px;
    border: 2px solid black;
}

.menubox a{
    text-decoration: none;
    color: black;
}

.introbox{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
    border: 2px solid black;
    width: 1000px;
    margin: 20px;
}

.introbox img{
    height: 200px;
    width: 200px;
}

@media (max-width: 980px){
    .page1-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        margin: auto;
        height: auto;
    }

    .menubox{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        /* width: 80vw;
        margin: 15px auto auto auto; */
        border: none;
        width: 100%;
        margin-left: 0px;
        
    }

    .menubox div{
        width: 30vw;
        font-size: 1.5vw;
        margin: 10px;
        padding: 7px 2px;
        border: 2px solid black;
    }

    
    .introbox{
        display: grid;
        grid-template-columns: repeat(3, 200px);
        grid-template-rows: repeat(3, 200px);
        gap: 5px;
        width: 90vw;
        margin:10px auto;
        padding: 10px;
    }
    .introbox div{
        
    }

    .introbox img{
        height: 200px;
        width: 200px;
    }
}

@media (max-width: 600px){

    .menubox{
        border: none;
        width: 100%;
        margin-left: 10px;
    }

    .menubox div{
        width: 30vw;
        height: 30px;
        font-size: 2vw;
        margin: 10px;
        padding: 20px 2px 0px 2px;
        border: 1px solid black;
    }

    .introbox{
        grid-template-columns: repeat(1, 200px);
        grid-template-rows: repeat(8, 200px);
        width: 80vw;
    }
}


/*---------------------------------------page2-----------------------------------------------------*/

.page2-text{
    margin: 90px;
    padding: 30px;
    border: 2px solid black;
}

.page2-text p{
    margin: 0 auto;
    max-width: 100%; /* setting the maximum width of the text to fit the parent element. */
    width: 100%; 
    height: auto;
    background-color: rgb(135, 170, 180);
    word-wrap: break-word; /* wrapping long words*/
}


@media (max-width: 600px){

    .page2-text{
        margin: 10px 20px;
        padding: 20px;
        text-align: center;
    }
    
}



/*---------------------------------------page3-----------------------------------------------------*/

.page3-container{
    margin: 70px 20px;
    padding: 20px;
    border: 2px solid black;
}

.page3-container img{
    float: left;
    height: 200px;
    width: 200px;
    margin: 20px;
}

.page3-container p{
    margin: 10px;
}
@media (max-width: 600px){

    .page3-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 30px 20px;
        border: 1px solid black;
    }

    .page3-container img{
        margin: 0 auto;
    }

    .page3-container h2{
        margin: 20px 10px 10px 10px;
        text-align: center;
    }
    .page3-container p{
        margin: 10px;
        text-align: center;
    }
}


/*---------------------------------------page4-----------------------------------------------------*/

.page4-container{
    margin: 70px 20px;
    padding: 20px;
    border: 2px solid black;
}

.page4-container img{
    float: right;
    height: 200px;
    width: 200px;
    margin: 20px;
}

.page4-container p{
    margin: 10px;
}

@media (max-width: 600px){

    .page4-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 30px 20px;
        border: 1px solid black;
    }

    .page4-container img{
        margin: 0 auto;
    }

    .page4-container h2{
        margin: 20px 10px 10px 10px;
        text-align: center;
    }
    .page4-container p{
        margin: 10px;
        text-align: center;
    }
}
